src/main/resources/META-INF/sharding-rule.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://code.stu.com/schema/sharding"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://code.stu.com/schema/sharding"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <xsd:element name="rule">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
            <xsd:attribute name="column" type="xsd:string" use="required"/>
            <xsd:attribute name="functionName" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>